body {
    background-color: black;
    text-align: center;
}

.iphone {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: white;
}

a {
   color: aquamarine;
   font-size: 16px; 
}

h2{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h3 {
    font-family: verdana;
    font-size: 21px;
    color: gray;
    font-weight: 300;
}

footer {
    text-align: right;
    color: gray;
    font-weight: 300;
}

.coming-soon {
    margin: 20px;
}
